## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. (*Challenge!*) Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.randint(10, size = 10, dtype = 'int'), name = "Column 01")

In [3]:
ser

0    7
1    3
2    7
3    7
4    2
5    1
6    2
7    4
8    3
9    5
Name: Column 01, dtype: int32

b. Extract data from Yahoo Finance for Ford from the 1st of January 2005. The ticker you need is ‘F’.

In [4]:
from pandas_datareader import data as wb

In [5]:
F = wb.DataReader('F', data_source='yahoo', start='2005-1-1')

In [6]:
F

             Open   High    Low  Close     Volume  Adj Close
Date
2005-01-03  14.66  14.75  14.51  14.71    9852200  11.052390
2005-01-04  14.71  14.75  14.59  14.66    9035400  11.014822
2005-01-05  14.63  14.66  14.42  14.43   11376200  10.842011
2005-01-06  14.40  14.52  14.37  14.45    6672600  10.857038
2005-01-07  14.48  14.65  14.45  14.65   11452500  11.007308
2005-01-10  14.49  14.59  14.48  14.55   10033300  10.932174
2005-01-11  14.55  14.55  14.35  14.43   10201700  10.842011
2005-01-12  14.43  14.45  14.24  14.32   15451200  10.759362
2005-01-13  14.34  14.34  14.04  14.08   11036500  10.579038
2005-01-14  14.04  14.15  14.01  14.06    9362300  10.564011
2005-01-18  13.96  14.15  13.91  14.08   10296500  10.579038
2005-01-19  14.08  14.27  13.92  13.93    6560200  10.466335
2005-01-20  13.55  13.75  13.40  13.46   14965100  10.113200
2005-01-21  13.46  13.46  13.10  13.11   12369700   9.850226
2005-01-24  13.12  13.30  13.05  13.07   10804700   9.820172
2005-01-25  13.07  13.42  13.07  13.23   11581200   9.940388
2005-01-26  13.28  13.36  13.17  13.35    7424200  10.106945
2005-01-27  13.26  13.31  13.17  13.19    6295200   9.985813
2005-01-28  13.15  13.25  13.04  13.14    9261100   9.947960
2005-01-31  13.25  13.29  13.11  13.17    6976900   9.970672
2005-02-01  13.27  13.28  13.01  13.08    9248000   9.902535
2005-02-02  13.18  13.38  13.08  13.27    7073200  10.046379
2005-02-03  13.17  13.25  13.06  13.11    8963300   9.925247
2005-02-04  13.21  13.26  13.15  13.22    7186000  10.008526
2005-02-07  13.29  13.54  13.24  13.42    8965600  10.159940
2005-02-08  13.39  13.44  13.15  13.16    9651200   9.963101
2005-02-09  13.10  13.19  13.04  13.12    8383100   9.932818
2005-02-10  13.11  13.21  13.06  13.10    7250200   9.917677
2005-02-11  13.09  13.19  13.04  13.06    8416800   9.887394
2005-02-14  13.12  13.20  13.04  13.10    6266800   9.917677
...           ...    ...    ...    ...        ...        ...
2017-03-16  12.65  12.72  12.59  12.70   28954700  12.531117
2017-03-17  12.74  12.74  12.45  12.48   54929100  12.314042
2017-03-20  12.48  12.49  12.25  12.28   45329700  12.116702
2017-03-21  12.30  12.32  11.70  11.72  101559900  11.564149
2017-03-22  11.72  11.83  11.62  11.77   71107900  11.613485
2017-03-23  11.57  11.75  11.50  11.67   71209300  11.514814
2017-03-24  11.66  11.77  11.55  11.62   43772400  11.465479
2017-03-27  11.51  11.55  11.41  11.46   57713400  11.307607
2017-03-28  11.51  11.80  11.48  11.65   57662800  11.495080
2017-03-29  11.73  11.76  11.64  11.68   35795700  11.524681
2017-03-30  11.67  11.74  11.61  11.68   28008200  11.524681
2017-03-31  11.66  11.68  11.60  11.64   26717500  11.485213
2017-04-03  11.64  11.64  11.28  11.44   65671100  11.287872
2017-04-04  11.38  11.48  11.28  11.37   40068200  11.218803
2017-04-05  11.48  11.50  11.25  11.26   43316100  11.110266
2017-04-06  11.27  11.36  11.22  11.27   36165300  11.120134
2017-04-07  11.26  11.31  11.21  11.23   28874900  11.080665
2017-04-10  11.26  11.35  11.24  11.25   25857100  11.100399
2017-04-11  11.27  11.28  11.17  11.28   36366300  11.130000
2017-04-12  11.27  11.30  11.20  11.23   56588400  11.080665
2017-04-13  11.22  11.25  11.11  11.11   32789900  10.962260
2017-04-17  11.22  11.30  11.14  11.28   44731700  11.130000
2017-04-18  11.15  11.18  11.08  11.14   35660000  11.140000
2017-04-19  11.19  11.28  11.17  11.19   37524400  11.190000
2017-04-20  11.25  11.50  11.24  11.47   49990200  11.470000
2017-04-21  11.46  11.48  11.32  11.34   26076200  11.340000
2017-04-24  11.48  11.50  11.36  11.43   41071300  11.430000
2017-04-25  11.47  11.50  11.43  11.48   35862500  11.480000
2017-04-26  11.47  11.70  11.45  11.60   51685800  11.600000
2017-04-27  11.66  11.68  11.34  11.47   49909700  11.470000

[3101 rows x 6 columns]