In [1]:
import numpy as np
import pandas as pd

In [11]:
ser = pd.Series(np.random.random(5), name= "Cloumn 01")

In [12]:
ser

0    0.230212
1    0.359450
2    0.929923
3    0.847967
4    0.986185
Name: Cloumn 01, dtype: float64

In [4]:
ser[2]

0.5318184238037444

In [13]:
from pandas_datareader import data as wb

In [32]:
aapl = wb.DataReader('AAPL', data_source='yahoo', start='1995-1-1')

In [33]:
aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,0.347098,0.338170,0.347098,0.342634,1.038688e+08,0.290871
1995-01-04,0.353795,0.344866,0.344866,0.351563,1.586816e+08,0.298451
1995-01-05,0.351563,0.345982,0.350446,0.347098,7.364000e+07,0.294660
1995-01-06,0.385045,0.367188,0.371652,0.375000,1.076622e+09,0.318347
1995-01-09,0.373884,0.366071,0.371652,0.367885,2.740864e+08,0.312307
...,...,...,...,...,...,...
2021-08-16,151.190002,146.470001,148.539993,151.119995,1.032960e+08,151.119995
2021-08-17,151.679993,149.089996,150.229996,150.190002,9.222970e+07,150.190002
2021-08-18,150.720001,146.149994,149.800003,146.360001,8.632600e+07,146.360001
2021-08-19,148.000000,144.500000,145.029999,146.699997,8.696030e+07,146.699997
2021-08-20,148.500000,146.779999,147.440002,148.190002,5.994740e+07,148.190002

In [37]:
aapl.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-07-26,149.830002,147.699997,148.270004,148.990005,72434100.0,148.767120
2021-07-27,149.210007,145.550003,149.119995,146.770004,104818600.0,146.550430
2021-07-28,146.970001,142.539993,144.809998,144.979996,118931200.0,144.763107
2021-07-29,146.550003,144.580002,144.690002,145.639999,56699500.0,145.422119
2021-07-30,146.330002,144.110001,144.380005,145.860001,70382000.0,145.641785
2021-08-02,146.949997,145.250000,146.360001,145.520004,62880000.0,145.302307
2021-08-03,148.039993,145.179993,145.809998,147.360001,64786600.0,147.139542
2021-08-04,147.789993,146.279999,147.270004,146.949997,56368300.0,146.730164
2021-08-05,147.839996,146.169998,146.979996,147.059998,46397700.0,146.839996
2021-08-06,147.110001,145.630005,146.350006,146.139999,54067400.0,146.139999
2021-08-09,146.699997,145.520004,146.199997,146.089996,48908700.0,146.089996
2021-08-10,147.710007,145.300003,146.440002,145.600006,69023100.0,145.600006
2021-08-11,146.720001,145.529999,146.050003,145.860001,48493500.0,145.860001
2021-08-12,149.050003,145.839996,146.190002,148.889999,72282600.0,148.889999
2021-08-13,149.440002,148.270004,148.970001,149.100006,59318800.0,149.100006
2021-08-16,151.190002,146.470001,148.539993,151.119995,103296000.0,151.119995
2021-08-17,151.679993,149.089996,150.229996,150.190002,92229700.0,150.190002
2021-08-18,150.720001,146.149994,149.800003,146.360001,86326000.0,146.360001
2021-08-19,148.000000,144.500000,145.029999,146.699997,86960300.0,146.699997
2021-08-20,148.500000,146.779999,147.440002,148.190002,59947400.0,148.190002

In [53]:
tickers = ['PG', 'MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers: 
        new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [54]:
new_data.tail(20)

                    PG        MSFT          T      F          GE
Date
2021-07-26  140.279999  288.497681  28.180000  14.03  103.360001
2021-07-27  140.850006  285.992493  28.200001  13.79  104.639999
2021-07-28  138.759995  285.673096  28.010000  13.86  105.040001
2021-07-29  139.479996  285.952576  28.290001  14.39  106.320000
2021-07-30  142.229996  284.365601  28.049999  13.95  103.599998
2021-08-02  141.880005  284.275787  28.110001  13.91  100.599998
2021-08-03  143.949997  286.571381  28.190001  14.02  103.059998
2021-08-04  142.429993  285.962555  27.850000  13.32  102.910004
2021-08-05  142.500000  288.966797  27.940001  13.71  103.019997
2021-08-06  141.410004  288.906921  27.959999  13.80  104.519997
2021-08-09  142.179993  287.779053  27.850000  13.75  103.709999
2021-08-10  142.270004  285.892700  28.090000  13.82  106.080002
2021-08-11  142.619995  286.401733  28.160000  13.93  106.040001
2021-08-12  142.949997  289.256256  28.020000  13.90  106.519997
2021-08-13  143.639999  292.290436  28.190001  13.59  104.919998
2021-08-16  144.639999  294.037109  28.200001  13.46  103.349998
2021-08-17  144.880005  292.519989  28.190001  12.99  101.620003
2021-08-18  143.300003  290.730011  27.830000  13.00  101.410004
2021-08-19  144.990005  296.769989  27.530001  12.67   99.419998
2021-08-20  145.089996  304.359985  27.570000  12.57  100.050003

In [58]:
import quandl

ModuleNotFoundError: No module named 'quandl'

In [59]:
import pandas as pd