In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [5]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [6]:
sec_data.tail()

                    PG      BEI.DE
Date
2021-08-23  144.350006  105.000000
2021-08-24  143.179993  103.400002
2021-08-25  142.669998  102.150002
2021-08-26  142.419998  102.650002
2021-08-27  142.309998  103.300003

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [8]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-08-23 -0.005113 -0.001428
2021-08-24 -0.008138 -0.015355
2021-08-25 -0.003568 -0.012163
2021-08-26 -0.001754  0.004883
2021-08-27 -0.000773  0.006312

[3690 rows x 2 columns]

In [9]:
sec_returns['PG'].mean()

0.0003317886971552406

In [10]:
sec_returns['PG'].mean() * 250

0.08294717428881015

In [11]:
sec_returns['PG'].std()

0.011777093594075881

In [13]:
sec_returns['PG'].std() * 250 ** 0.5

0.18621219987129142

In [15]:
sec_returns['BEI.DE'].mean()

0.00023685415341658244

In [16]:
sec_returns['BEI.DE'].mean() * 250

0.05921353835414561

In [17]:
sec_returns['BEI.DE'].std()

0.013755926515539824

In [18]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21750029557504721

In [22]:
sec_returns[['PG', 'BEI.DE']].mean()

PG        0.000332
BEI.DE    0.000237
dtype: float64

In [23]:
sec_returns[['PG', 'BEI.DE']].std()

PG        0.011777
BEI.DE    0.013756
dtype: float64

In [24]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.186212
BEI.DE    0.217500
dtype: float64

In [25]:
weights = np.array([0.5, 0.5])

In [27]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() *250, weights))
pfolio_var

0.025953672251358802

In [29]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.16110143466573723

In [30]:
weights[0]

0.5

In [31]:
weights[1]

0.5

In [33]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.034674983380905786

In [34]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.0473063785752329

In [37]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
print(str(round(dr*100,3))+ '%')

0.546%

In [38]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.02049534048903467

In [39]:
n_dr_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.02049534048903467

In [40]:
n_dr_1 == n_dr_2

True