In [8]:
def func1(*args):
    for i in args:
        print(i)

In [9]:
func1(80,100)

80
100

In [11]:
func1(20,40,60)

20
40
60

In [15]:
def calculation(a,b):
    return a+b, a-b

add, sub = calculation(40,10)
print(add, sub)

50 30

In [16]:
def showEmployee(name, salary=9000):
    print("Employee " + name + " salary is: " + str(salary))
showEmployee("Ben", 9000)

Employee Ben salary is: 9000

In [17]:
showEmployee("Ben")

Employee Ben salary is: 9000

In [18]:
def outerfunc(a,b):
    def innerfunc(a,b):
        return a+b
    return 5+ innerfunc(a,b)

outerfunc(10,20)

35

In [21]:
def recurSum(num):
    if num: 
        return num + recurSum(num -1)
    else:
        return 0

res = recurSum(10)
print(res)

55

In [22]:
def displayStudent(name, age):
    print(name, age)
    
showStudent = displayStudent
showStudent("Emma",45)

Emma 45

In [24]:
def calcSum(num):
    total = 0
    for i in range(num+1):
        total += i
    return total

calcSum(10)

55

In [28]:
def evenNumList(minVal, maxVal):
    evenNum = []
    for i in range(minVal, maxVal):
        if i %2 == 0: 
            evenNum.append(i)
    return evenNum
print(evenNumList(4,30))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [27]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [31]:
aList = [4,6,8,24,12,2,56]
temp = 0
biggest = aList[0]
for i in range(1, len(aList)):
        if biggest < aList[i]:
            temp = biggest
            biggest = aList[i]
            aList[i] = temp
            
print(biggest)

56

In [39]:
aList = [4,6,8,24,12,2,56]
print(max(aList))
print(min(aList))
aList.sort()
print(aList[len(aList)-1])

56
2
56

In [50]:
for n in range(1,6):
    for i in range(1,n + 1):
        print(i, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [53]:
for i in range(2,22, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [58]:
for n in range(5,0,-1):
    for i in range(n,0,-1):
        print(i, end= " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [60]:
list1 = [10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [61]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [62]:
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

In [66]:
def factFunc(num):
    res = 1
    for i in range(1, num +1):
        res *= i
    return res

print(factFunc(5))

120

In [96]:
import math
numInput = 76542

list1 = []
for i in range(4,-1,-1):
    temp=int(numInput/math.pow(10,i))
    numInput = numInput - temp * math.pow(10,i)
    list1.append(temp)
list1.sort()
print(list1)

[2, 4, 5, 6, 7]

In [101]:
num = 76542
reverse_num = 0

while num > 0:
    reminder = num % 10
    reverse_num = (reverse_num * 10) + reminder
    num = num // 10
    #print(reverse_num)
print(reverse_num)

24567

In [113]:
my_list = [10,20,30,40,50,60,70,80,90,100]
even_list = []

for i in range(len(my_list)):
    if ((int(my_list[i] / 10) % 2) == 0):
        even_list.append(my_list[i])
        
print(even_list)

[20, 40, 60, 80, 100]

In [124]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [141]:
input_number = 6
for i in range(1,7):
    cube_num = int(math.pow(i,3))
    print("Current Number is : " , i , " and the cube is " ,cube_num)

Current Number is :  1  and the cube is  1
Current Number is :  2  and the cube is  8
Current Number is :  3  and the cube is  27
Current Number is :  4  and the cube is  64
Current Number is :  5  and the cube is  125
Current Number is :  6  and the cube is  216

In [145]:
rem = 0
total_sum = 0
for i in range(5):
    rem += int(2 * math.pow(10, i))
    total_sum += rem
print(total_sum)

24690

In [155]:
for n in range(1, 5):
    for i in range(1,n+1):
        print("*", end = " ")
    print()
for n in range(5, 0,-1):
    for i in range(n,0,-1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [158]:
str1 = "JhonDipPeta"
str2 = "JaSonAy"
print(str1[4:7],str2[2:5])

Dip Son

In [163]:
def getMiddleStr(sampleString):
    middleIndex = int(len(sampleString) / 2)
    middleThree = sampleString[middleIndex -1: middleIndex +2]
    return middleThree
   

print(getMiddleStr(str1))
print(getMiddleStr(str2))

Dip
Son

In [176]:
s1 = "Edwardz"
s2 = "Kelly"

def concatStr(str1, str2):
    ind = int(len(str1) / 2)
    left_str = str1[0: ind]
    right_str = str1[ind: len(str1)]
    return left_str + str2 + right_str

print(concatStr(s1,s2))
print(concatStr(s2,s1))

EdwKellyardz
KeEdwardzlly

In [184]:
def genStr(str1, str2):
    first_char = str1[:1] + str2[:1]
    middle_char = str1[int(len(str1) /2) : int(len(str1) / 2) + 1] + str2[int(len(str2) / 2) : int(len(str2) / 2) + 1]   
    last_char = str1[len(str1) -1] + str2[len(str2) -1]
    return first_char + middle_char + last_char
    
    
s1 = "America"
s2 = "Japan"
s3 = "Xianhina"
genStr(s1,s3)

'AXrhaa'

In [208]:
def sortStr(str):
    for i in range(len(str)):
        if ( str[i].isupper()):
            str = str[: i] + str[i+1: len(str)] + str[i]
    return str
               
print(sortStr("PyNaTive"))  
print(sortStr("ChineseJapanAmerica"))

yaiveNPT
hineseapanmericaJCA

In [216]:
def countAll(str):
    up_num = 0
    low_num = 0
    digit_num = 0
    symbol_num = 0
    for i in range(len(str)):
        if (str[i].isnumeric()): 
            digit_num += 1
        elif(str[i].isalpha()):
            if(str[i].isupper()):
                up_num += 1
            else: 
                low_num += 1
        else: 
            symbol_num += 1
           
     
    print("char = ", up_num + low_num)
    print("uppercase = ", up_num)
    print("lowercase = ", low_num)
    print("digit = ", digit_num)
    print("special symbol = ", symbol_num)
            
countAll("P@#yn26at^&i5ve")

char =  8
uppercase =  1
lowercase =  7
digit =  3
special symbol =  4

In [219]:
def genNewStr(str1, str2):
    newStr1 = str1[0] + str2[len(str2)-1]
    newStr2 = str1[int(len(str1) / 2)] + str2[int(len(str2) /2)]
    newStr3 = str1[len(str1) -1] + str2[0]
    return newStr1+newStr2+newStr3

s1 = "Abc"
s2 = "Xyz"
print(genNewStr(s1,s2))

AzbycX

In [223]:
def findStr(str1, str2):
    res = str2.rfind(str1)
    if (res == -1): 
        return False
    else:
        return True

print(findStr("Yn","PYnative"))
print(findStr("Ynf", "PYnative"))

True
False

In [225]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str2 = "USA"
print(str1.lower().count(str2.lower()))

2

In [229]:
str1 = "English = 78 Science = 83 Math = 68 History = 65"
strList = str1.split(" ")
total = 0
count = 0
for item in strList: 
    if (item.isnumeric() == True): 
        total += float(item)
        count += 1
avg = float(total / count)
print(total, avg)

294.0 73.5

In [238]:
def Convert(str):
    count_item = 0
    dict1 = dict()
    for x in str: 
        for y in str:
            if (y == x):
                count_item +=1
                 
        dict1.update({x: count_item})
        count_item = 0
    print(dict1)
    return dict1
        

print(Convert("AppleeeeeDDD"))

{'A': 1, 'p': 2, 'l': 1, 'e': 5, 'D': 3}
{'A': 1, 'p': 2, 'l': 1, 'e': 5, 'D': 3}

In [241]:
def Convert(str):
    countDict = dict()
    for char in str:
        count = str.count(char)
        countDict[char] = count
    return countDict

print(Convert("AppleeeeeDDD"))

{'A': 1, 'p': 2, 'l': 1, 'e': 5, 'D': 3}

In [242]:
def reverseStr(str):
    lst1 = []
    for i in str:
        lst1.append(i)
    lst1.reverse()
    return "".join(lst1)

print(reverseStr("PYnative"))

evitanYP

In [243]:
str1 = "PYnative"
str1 = str1[::-1]
print(str1)

evitanYP

In [245]:
str1 = "Emma-is-a-data-scientist"
list = str1.split("-")
print("Displaying each substring")
for item in list:
    print(item)

Displaying each substring
Emma
is
a
data
scientist

In [257]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print(str_list)
filtered = filter(None, str_list)
new_lst = []
for i in filtered: 
    new_lst.append(i)
print(new_lst)

['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
['Emma', 'Jon', 'Kelly', 'Eric']

In [259]:
str1 = "/*Jon is @developer & musician"
newStr = []
for i in str1: 
    if (i.isalnum() == True or i.isspace()):
        newStr.append(i)
str2 = "".join(newStr)
print(str2)

Jon is developer  musician

In [260]:
import re
str1 = "/*Jon is @developer & musician"
str2 = re.sub(r'[^\w\s]', '', str1)
print(str2)

Jon is developer  musician

In [262]:
str1 = 'I am 25 years and 10 months old'
str2 = re.sub(r'[^\d]', '', str1)
print(str2)

2510

In [263]:
str1 = "/*Jon is @developer & musician"
str2 = re.sub(r'[^\w\s]', '#', str1)
print(str2)

##Jon is #developer # musician

In [ ]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
newList = []

for i in range(len(sampleList)):